doctype 5
html(lang="en")
  head
    link(rel='stylesheet' href="https://rawgit.com/appknox/bohemia/master/dist/report.css")
    style(type='text/css').
      .new-page {
        page-break-before: always;
       } 
      @page {
        @top-left { content: "confidential";}
        @top-right { content: "10th April, 2017";}
        @bottom-center {
          border-top: 1px solid #6B6B6B;
          width: 100%;
          content: "Page " counter(page) " of " counter(pages);
        }
      }
  body
    section.new-page
      div.appknox-logo
        img(align="middle" src='https://raw.githubusercontent.com/appknox/press-kit/master/logo/logo-dark-small.png')
      div.main-heading
        | Android Security Report
      div.sub-heading
        | For Internal Purpose   
      div.app-name
        | Prepared For: {{file.name}}     
      div.doc-description
        p
          | Prepared by XYSec Labs Pte. Ltd. Portions of this document and the templates used in its production are the property of XYSec Labs Pte. Ltd. and cannot be copied without permission.
        p
          | While precautions have been taken in the preparation of this document, XYSec Labs Pte. Ltd., the publisher, and the author(s) assume no responsibility for errors, omissions, or for damages resulting from the use of the information contained herein. Use of XYSec Labs Pte. Ltd. services does not guarantee the security of a system, or that intrusions will not occur.      
    
    section.new-page
      div
        h3.heading-container
          | Table Of Contents
      div
        table.content-table
          tbody  
            tr.main-table-heading
              td
                a(href="#report-summary")
                  | Report Summary   
            tr.sub-table-heading    
              td
                a(href="#application-details")
                  | Application Details
            tr.sub-table-heading          
              td
                a(href="#audit-summary")
                  | Audit Summary
            tr.sub-table-heading      
              td
                a(href="#security-rating")
                  | Appknox Security Rating
                  
            | {% for analysis in file.analyses.all %}
            | {% if analysis.risk > RiskEnum.NONE %}     
            tr.main-table-heading  
              td
                a(href="#{{ analysis.id }}")
                  | {{ analysis.vulnerability.heading }}
            | {% for subheading in analysis.vulnerability.sub_headings.all %}
            tr.sub-table-heading  
              td
                a(href="#{{ analysis.id }}{{ forloop.counter }}")
                  | {{ subheading.heading }}
              | {% endfor %}
            
            | {% if analysis.vulnerability.non_compliant %}
            tr.sub-table-heading  
              td
                a(href="#{{ analysis.id }}{{ forloop.counter }}non-compliant")
                  | Noncompliant Code Example
              | {% endif %}
            
            | {% if analysis.vulnerability.compliant %}
            tr.sub-table-heading  
              td
                a(href="#{{ analysis.id }}{{ forloop.counter }}compliant")
                  | Compliant Solution
              | {% endif %}

            | {% if analysis.vulnerability.business_implication %}
            tr.sub-table-heading
              td
                a(href="#{{ analysis.id }}{{ forloop.counter }}business-implication")
                  | Business Implication
              | {% endif %}
            
            | {% if analysis.vulnerability.related_to %}
            tr.sub-table-heading 
              td
                a(href="#{{ analysis.id }}{{ forloop.counter }}related-to")
                  | Related Vulnerabilities
            | {% endif %}
            
            | {% endif %}
            | {% endfor %}
            
    section.new-page
      div
        a(id="report-summary")
        h3.heading-container
          | Report Summary
      div
        p
          | Appknox conducted a security assessment of the mobile application for the Android platform. This report contains all the findings during the automated auditing process. It also contains the process of discovering those vulnerabilities in the first place, and ways to remediate those issues.    
      
      section.details
        div
          a(id="application-details")
          h5.sub-heading-container
            | Application Details
        div
          table.app-details
            tbody
              tr
                td
                  | Application Name
                td
                  | {{file.name}}
              tr
                td
                  | Application Namespace
                td
                  | {{file.name}}
              tr
                td
                  | Version
                td
                  | {{file.version}}
              tr
                td
                  | Audit Date
                td
                  | {{file.updated_on}}
              tr
                td
                  | Application SHA1 Hash
                td
                  | {{file.sha1hash}}
              tr
                td
                  | Application MD5 Hash
                td
                  | {{file.md5hash}}
      
      section.new-page
        div
          a(id="audit-summary")
          h5.sub-heading-container
            | Audit Summary
        div
          table.audit-table
            | {% for analysis in file.analyses.all %}
            tbody
              tr
                td
                  h5
                    | {{ analysis.vulnerability.name }}
                  p
                    | {{ analysis.vulnerability.description }}
                td.risk-type-container
                  h6(class="risk-type" style="background-color:{{ analysis.color }};color:#FFF")
                    | {% if analysis.risk == RiskEnum.NONE %}
                    | Passed
                    | {% else %}
                    | {{ analysis.get_risk_display }} Risk
                    | {% endif %}
            | {% endfor %}    
            
        div
          table.audit-table.sub-table
            tbody
              tr
                td
                  | Priority Level
                td
                  | Number of failed test cases
              tr
                td
                  | High Risk
                td
                  | {# audit_summary | hash:RiskEnum.HIGH #}
              tr
                td
                  | Medium Risk
                td
                  | {# audit_summary | hash:RiskEnum.MEDIUM #}
              tr
                td
                  | Low Risk
                td
                  | {# audit_summary | hash:RiskEnum.LOW #}    
                
      section
        div
          a(id="security-rating")
          h5.sub-heading-container
            | Appknox Security Rating
            
        div
          img(width=316 height=75 src="{{ chart_url }}")
          p
            | Appknox Security Rating:
            b
              | {# audit_summary | hash:AUDIT_SUMMARY_RATING #}
              | Unsecured    
              
          
    | {% for analysis in file.analyses.all %}
    | {% if analysis.risk > RiskEnum.NONE %}
    
    section.new-page
      div
        a(id="{{ analysis.id }}")
        h3.vulnerability-heading
          | {{ analysis.vulnerability.heading }}
      section.description
        div
          | {{ analysis.vulnerability.intro | safe }}
        div
          h5(class="risk-tag" style="background-color:{{ analysis.color }};color:#FFF")
            | Risk Rating : {{ analysis.get_risk_display }}  
            
      section.assessment
        div.analysis-type
          h5
            | Risk Assessment
        div
          p
            | {{ analysis.vulnerability.description | safe }}
          | {% for descriptions in analysis.description %}
          | {% if descriptions.extra_description %}
          p
            | {{ descriptions.extra_description | safe }}
          | {% endif %}
        div
          pre
            code
              | {{ descriptions.description | safe }}
          | {% endfor %}    
      
      | {% for subheading in analysis.vulnerability.sub_headings.all %}
      section.sub-headings
        div.analysis-type
          a(id="{{ analysis.id }}{{ forloop.counter }}")
          h5
            | {{ subheading.heading }}
        div
          | {{ subheading.content | safe }}
      | {% endfor %}
      
      | {% if analysis.vulnerability.non_compliant %}    
      section.non-compliant
        div.analysis-type
          a(id="{{ analysis.id }}{{ forloop.counter }}non-compliant")
          h5
            | Noncompliant Code Example
        div
          | {{ analysis.vulnerability.non_compliant | safe }}
      | {% endif %}
      
      | {% if analysis.vulnerability.compliant %}        
      section.compliant
        div.analysis-type
          a(id="{{ analysis.id }}{{ forloop.counter }}compliant")
          h5
            | Compliant Solution
        div
          | {{ analysis.vulnerability.compliant | safe }}
      | {% endif %}    
      
      | {% if analysis.vulnerability.business_implication %}        
      section.implications
        div.analysis-type
          a(id="{{ analysis.id }}{{ forloop.counter }}business-implication")
          h5
            | Business Implication
        div
          | {{ analysis.vulnerability.business_implication | safe }}   
      | {% endif %}    
      
      | {% if analysis.vulnerability.related_to %}      
      section.related
        div.analysis-type
          a(id="{{ analysis.id }}{{ forloop.counter }}related-to")
          h5
            | Related Vulnerabilities
        div
          | {{ analysis.vulnerability.related_to | safe }}
      | {% endif %}        
        
    | {% endif %}
    | {% endfor %}
